
@font-face {
    font-family: 'tasksFont-regular';
    src: url(77e92507394e2309d837.ttf);
}

@font-face {
    font-family: 'tasksFont-bold';
    src: url(610bc32a7e32c292ce59.ttf);
}


* {
    background-color: #192734;
    color: aliceblue;
    margin: 0;
    padding: 0;
}

header {
    font-family:  "tasksFont-bold";
    text-align: center;
}


@media only screen and (max-width: 600px) {
    header, main, footer {
        padding: 10px;
        border: 10px solid lightblue;
    }
}


@media only screen and (min-width: 601px) and (max-width: 1024px) {
    header, main, footer {
        padding: 15px;
        border: 10px solid red;
    }
}

/* for wide screens */
@media only screen and (min-width: 1025px) {
    header, main, footer {
        padding: 20px;
        border: 10px solid white;
    }
}


footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'tasksFont-regular';
    font-size: 15px;
    background-color: hsl(210, 18%, 20%);
}
.group1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
    background-color: hsl(210, 18%, 20%);
}
.group1 button{
    margin: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.group1 button img {
    height: 30px;
}
.icon {
    background-color: transparent;
    margin: 20px;
}
.new-task {
    background-color: hsl(210, 18%, 40%);
    border: none;
    height: 3rem;
    width: 3rem;
    border-radius: 10px;
    cursor: pointer;
    margin: 0;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#add-task {
    background-color: transparent;
    font-size: 2.5rem;
}
