
@font-face {
    font-family: 'tasksFont-regular';
    src: url(./Font/PTSans-Regular.ttf);
}

@font-face {
    font-family: 'tasksFont-bold';
    src: url(./Font/PTSans-Bold.ttf);
}


* {
    background-color: #192734;
    color: aliceblue;
    margin: 0;
    padding: 0;
    font-family:  "tasksFont-regular";
    user-select: none;
}

header {
    font-family:  "tasksFont-regular";
    text-align: center;
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 0;
    align-items: center;
    padding-bottom: 0;
}
h1 {
    margin-top: 10px;
    margin-bottom: 0;
}


[role="tablist"] {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    position: relative;
    margin-left: 3.5%;
    border-bottom: 1px solid hsl(0 0% 30%);
}
[role="tablist"]::after {
    content: "";
    position:absolute ;
    background: white;
    opacity: 0.8;
    height: 4px;
    
    /* custom CSS properties (variables) for values of scale and translate props */
    scale: var(--_width, 0.190) 1;
    translate: var(--_left, 0px) 0;
        
    bottom: 0;
    left: 0;
    right: 0;
    transition: scale 200ms, translate 200ms;
    transform-origin: left;
}
[role="tab"] {
    color: #fff;
    background: lightblue;
    background: transparent;
    padding: 0.5em 1em;
    border: 0;
    font: inherit;
    font-weight: 500;
    opacity: 0.7;
    cursor: pointer;
  }
  [role="tab"]:hover {
    opacity: 1;
  }
  [role="tab"][aria-selected="true"] {
    opacity: 1;
  }


.tab-panels {
    margin-top: 5vh;
}

@media only screen and (max-width: 600px) {
    
}


@media only screen and (min-width: 601px) and (max-width: 1024px) {     
    
}

/* for wide screens */
@media only screen and (min-width: 1025px) {
    
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'tasksFont-regular';
    font-size: 15px;
    background-color: hsl(210, 18%, 20%);
    position: absolute;
    bottom: 0;
    width: 100%;
}
#tab-3 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.group1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
    background-color: hsl(210, 18%, 20%);
}
.group1 button{
    margin: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.group1 button img {
    height: 30px;
}
.icon {
    background-color: transparent;
    margin: 20px;
}
.new-task {
    background-color: hsl(210, 18%, 40%);
    border: none;
    height: 3rem;
    width: 3rem;
    margin-right: 1em;
    border-radius: 10px;
    cursor: pointer;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#add-task {
    background-color: transparent;
    font-size: 2.5rem;
}
