
@font-face {
    font-family: 'tasksFont-regular';
    src: url(./Font/PTSans-Regular.ttf);
}

@font-face {
    font-family: 'tasksFont-bold';
    src: url(./Font/PTSans-Bold.ttf);
}


* {
    background-color: #192734;
    color: aliceblue;
    margin: 0;
    padding: 0;
    font-family:  "tasksFont-regular";
    user-select: none;
}

body {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 10fr 1fr;
}

header {
    font-family:  "tasksFont-regular";
    text-align: center;
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 0;
    border-bottom: 1px solid grey;
    align-items: center;
    padding-bottom: 0;
}

#headerNewTask {
    display: flex;
    text-align: center;
    justify-content: flex-start;
    align-items: center;
}
#headerNewTask img {
    float: left;
    align-items: flex-start;
}
#favBtn {
    display: flex;
    justify-content: center;
    align-items: center;
} 

.tabs {
    display: flex;
    max-height: 2rem;
    margin-bottom: 0px;
    margin-left: 10px;
    position: relative;
    width: auto;
}
.tabs button {
    border: none;
    padding: 2px;
    margin: 10px;
    cursor: pointer;
}


@media only screen and (max-width: 600px) {
    header{
        
        
    }
}


@media only screen and (min-width: 601px) and (max-width: 1024px) {
    header, main, footer {
        
        
    }
}

/* for wide screens */
@media only screen and (min-width: 1025px) {
    header, main, footer {
        
    }
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'tasksFont-regular';
    font-size: 15px;
    background-color: hsl(210, 18%, 20%);
}
.group1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
    background-color: hsl(210, 18%, 20%);
}
.group1 button{
    margin: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.group1 button img {
    height: 30px;
}
.icon {
    background-color: transparent;
    margin: 20px;
}
.new-task {
    background-color: hsl(210, 18%, 40%);
    border: none;
    height: 3rem;
    width: 3rem;
    margin-right: 1em;
    border-radius: 10px;
    cursor: pointer;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#add-task {
    background-color: transparent;
    font-size: 2.5rem;
}